@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');body {
    background: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
}

html,body {
    width: 100%;
    overflow-x: hidden;
  }

h1 {
    font-size: 10rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


a {
  text-decoration: none !important;
  outline: none;
}



#home {
  text-align: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #82ccdd;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

#home {
    background: 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
}

#home .btn {
  background: #60a3bc;
  border: none;
  border-radius: 0px;
  color: #f5f6fa;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 38px;
  margin-top: 28px;
  transition: all 0.4s ease-in-out;
}

#home .btn img {
  height: 25px;
  margin-right: 10px;
}

#home .btn:hover {
  background: #4b8094;
}

@media (max-width: 760px) {
  h1 {
    font-size: 5rem;
  }
}